@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PT_Serif-Web-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PT_Serif-Web-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT_Sans-Web-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT_Sans-Web-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}